@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "hamburgers.css";

$large-breakpoint: 1370px;
$medium-breakpoint: 991px;
$small-breakpoint: 767px;
$mini-breakpoint: 575px;

$text-font: 'Open Sans', sans-serif;
$second-text-font: 'Oswald', sans-serif;
$text-color: #fdfdfd;
$accent-color: #ffcc01;

*:focus {
  outline: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, ul {
  padding: 0;
  margin: 0;
}

svg {
  overflow: hidden;
  width: 20px;
  height: 12px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $text-font;
  color: $text-color;
  font-size: 12px;
  overflow-x: hidden;
}

.page-container {
  background-color: #212d4a;
}

header {

  .logo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    height: 266px;
    margin: 0 auto;
    background: url(assets/images/home-header.png);
    background-repeat: no-repeat;
    background-size: cover;

    a {
      height: 50px;

      img {
        @media only screen and (max-width: $small-breakpoint) {
          max-width: 180px;
        }
      }
    }

    @media only screen and (max-width: $small-breakpoint) {
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }

  .header-menu {
    height: 45px;
    margin: 0 auto;
    background-color: #16203e;

    .menu-main-menu-container {
      ul {
        display: flex;
        justify-content: center;

        li {
          list-style: none;
          margin-left: 30px;

          a {
            text-decoration: none;
            font-family: $second-text-font;
            color: #ffcc01;
            font-size: 24px;
            transition: 0.5s;
            letter-spacing: 0.5px;

            &:hover {
              color: #d3d4d6;
              transition: 0.5s;
            }

            @media only screen and (max-width: $small-breakpoint) {
              padding: 0 15px;
              font-size: 16px;
            }
          }

          &.current-menu-item {
            a {
              color: #d3d4d6;
            }
          }

          @media only screen and (max-width: $small-breakpoint) {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
          }
        }

        @media only screen and (max-width: $small-breakpoint) {
          flex-direction: column;
          padding-top: 10px;
        }
      }

      &.is-active {
        display: flex;
        position: absolute;
        background-color: #16203e;
        top: 311px;
        width: 100%;
        left: 0;
        justify-content: flex-end;
        z-index: 999999999;
        text-transform: uppercase;
      }

      @media only screen and (max-width: $small-breakpoint) {
        display: none;
      }
    }

    .hamburger {
      display: none;

      @media only screen and (max-width: $small-breakpoint) {
        display: block;
        position: absolute;
        right: -5px;
        top: 259px;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px;
    }
  }
}

.page-content {
  width: 1320px;
  margin: 0 auto;
  padding: 50px 0;

  .paragraph {
    display: flex;
    flex-direction: column;
    border: 1px solid #29395d;
    border-radius: 8px;
    padding: 16px;
    background-color: #172035;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

    .paragraph-text {
      p {
        color: #fdfdfd;
        line-height: 24px;
      }
    }

    .read-more-text {
      display: none;
    }

    .paragraph-read {
      padding-top: 7px;
      display: flex;
      justify-content: flex-end;

      a {
        text-decoration: none;
        color: #4c6799;
        transition: 0.5s;

        svg {
          width: 12px;
          height: 9px;
        }

        &:hover {
          color: #ffcc01;
          transition: 0.5s;
        }
      }
    }

    @media only screen and (max-width: $small-breakpoint) {
      font-size: 12px;
    }
  }

  .first-bonus {
    margin-top: 48px;
    margin-bottom: 18px;
    text-align: center;

    h1 {
      font-size: 24px;
      color: #ffcc01;
      font-family: Oswald, sans-serif;
      font-weight: 400;
      letter-spacing: 0.5px;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 20px;
      }
    }
  }

  .casino-container {
    margin: 20px 0 35px 0;

    .oj-oj-oj {
      margin-bottom: 20px;
      border: 1px solid #29395d;
      border-radius: 8px;
      overflow: hidden;

      .casino-box {
        display: flex;
        align-items: center;
        padding: 16px;
        background-color: #172035;

        .casino-logo {
          background-color: #29395d;
          border-radius: 8px;
          height: 80px;
          width: 120px;
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            img {
              max-width: 90px;
            }
          }
        }

        .casino-name {
          font-family: "Open Sans", sans-serif;
          width: 175px;
          margin-left: 15px;

          h3 {
            font-size: 18px;
            color: #ffcc01;
            margin-bottom: 5px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 16px;
            }
          }

          p {
            font-weight: 400;
            font-size: 13px;
            color: #ffffff;
          }

          @media only screen and (max-width: $large-breakpoint) {
            margin-left: unset;
            margin-top: 10px;
          }
        }

        .casino-bonus {
          font-family: "Open Sans", sans-serif;
          width: 175px;
          margin-left: 85px;

          h3 {
            font-size: 18px;
            color: #ffcc01;
            margin-bottom: 5px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 16px;
            }
          }

          p {
            font-size: 13px;
            color: #ffffff;
          }

          @media only screen and (max-width: $large-breakpoint) {
            margin-left: unset;
            margin-top: 10px;
            width: unset;
          }

        }

        .casino-paragraph {
          font-family: "Open Sans", sans-serif;
          width: 430px;
          display: flex;
          flex-grow: 1;
          margin: 0 55px 0 85px;

          p {
            font-style: italic;
            font-size: 13px;
            line-height: 24px;
          }

          @media only screen and (max-width: $large-breakpoint) {
            width: unset;
            margin: 10px 0;

          }
        }

        .casino-button-terms {
          display: flex;
          align-items: center;
          flex-direction: column;
          font-family: "Open Sans", sans-serif;

          .casino-button {
            display: flex;
            align-items: center;
            height: 50px;
            width: 160px;
            border-radius: 8px;
            background-color: #ffcc01;

            a {
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              text-decoration: none;
              font-size: 20px;
              font-weight:800;
              color: #172035;
              width: 100%;
              border-radius: 8px;
              transition: 0.5s;

              &:hover {
                background-color: #d3d4d6;
                transition: 0.5s;
              }
            }
            @media only screen and (max-width: $large-breakpoint) {
              margin: 0 auto;
            }
          }

          .casino-terms {
            text-align: center;
            margin-top: 3px;

            a {
              text-decoration: none;
              font-size: 11px;
              color: #ffffff;
              transition: 0.5s;

              &:hover {
                color: #ffcc01;
                transition: 0.5s;
              }
            }
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          flex-flow: column;
          text-align: center;
        }
      }

      .casino-terms-text {
        background-color: #29395d;
        padding: 16px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        font-family: "Open Sans", sans-serif;

        p {
          font-size: 11px;
          color: #b9b9b9;
        }

        @media only screen and (max-width: $large-breakpoint) {
          text-align: center;
        }
      }
    }
  }

  .casino-bonus-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    .casino-bonus-content {
      h3 {
        font-family: Oswald, sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #ffcc01;
        margin-bottom: 15px;
        letter-spacing: 0.5px;

        @media only screen and (max-width: $large-breakpoint) {
          text-align: center;
        }

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 20px;
        }
      }

      .casino-bonus-box {
        background-color: #172035;
        border: 1px solid #29395d;
        border-radius: 8px;
        width: 648px;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 300px;

        .casino-bonus-box-logo {
          padding: 10px 25px 10px 10px;

          img {
            height: 110px;
            width: 105px;
          }

          @media only screen and (max-width: $small-breakpoint) {
            margin: 0 auto;
          }
        }

        .casino-bonus-box-text {
          font-family: "Open Sans", sans-serif;
          width: 460px;
          padding-bottom: 15px;

          h1 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 16px;
            }
          }

          h2 {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 14px;
            }
          }

          h3 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 14px;
            }
          }

          h4 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 13px;
            }
          }

          h5 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 13px;
            }
          }

          h6 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 13px;
            }
          }

          ul {
            li {
              list-style: none;
              font-size: 13px;
              color: #fdfdfd;
              line-height: 24px;

              &:before {
                content: "\f00c";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                display: inline-block;
                width: 20px;
                height: 10px;
                color: #ffcc01;
              }

              @media only screen and (max-width: $small-breakpoint) {
                font-size: 12px;
              }
            }
          }

          p {
            font-size: 13px;
            color: #fdfdfd;
            line-height: 24px;
            text-align: justify;

            a {
              text-decoration: none;
              color: #eabc0e;
              transition: 0.5s;

              &:hover {
                color: #d3d4d6;
                transition: 0.5s;
              }
            }

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 12px;
            }
          }

        }

        .casino-bonus-box-text2 {
          font-family: "Open Sans", sans-serif;

          h1 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 16px;
            }
          }

          h2 {
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 14px;
            }
          }

          h3 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 15px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 14px;
            }
          }

          h4 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 13px;
            }
          }

          h5 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 13px;
            }
          }

          h6 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #fdfdfd;
            padding-bottom: 15px;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 13px;
            }
          }

          ul {
            li {
              list-style: none;
              font-size: 13px;
              color: #fdfdfd;
              line-height: 24px;

              &:before {
                content: "\f00c";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                display: inline-block;
                width: 20px;
                height: 10px;
                color: #ffcc01;
              }

              @media only screen and (max-width: $small-breakpoint) {
                font-size: 12px;
              }
            }
          }

          p {
            font-size: 13px;
            color: #fdfdfd;
            line-height: 24px;
            text-align: justify;

            a {
              text-decoration: none;
              color: #eabc0e;
              transition: 0.5s;

              &:hover {
                color: #d3d4d6;
                transition: 0.5s;
              }
            }

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 12px;
            }
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          width: unset;
        }

        @media only screen and (max-width: $small-breakpoint) {
          height: unset;
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        &:last-child {
          margin-top: 15px;
        }
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      flex-flow: column;
    }
  }

  .paragraph2 {
    h3 {
      margin-bottom: 15px;
      font-family: Oswald, sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #ffcc01;
      letter-spacing: 0.5px;

      @media only screen and (max-width: $large-breakpoint) {
        text-align: center;
      }

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 20px;
      }
    }

    .paragraph2-text {
      font-family: "Open Sans", sans-serif;
      background-color: #172035;
      border: 1px solid #29395d;
      border-radius: 8px;
      padding: 15px 15px 0 15px;
      color: #fdfdfd;

      h1 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #fdfdfd;
        padding-bottom: 15px;

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 16px;
        }
      }

      h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #fdfdfd;
        padding-bottom: 15px;

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 14px;
        }
      }

      h3 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        color: #fdfdfd;
        padding-bottom: 15px;

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 14px;
        }
      }

      h4 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #fdfdfd;
        padding-bottom: 15px;

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 13px;
        }
      }

      h5 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #fdfdfd;
        padding-bottom: 15px;

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 13px;
        }
      }

      h6 {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #fdfdfd;
        padding-bottom: 15px;

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 13px;
        }
      }

      ul {
        li {
          list-style: none;
          font-size: 13px;
          color: #fdfdfd;
          line-height: 24px;

          &:before {
            content: "\f00c";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            display: inline-block;
            width: 20px;
            height: 10px;
            color: #ffcc01;
          }

          @media only screen and (max-width: $small-breakpoint) {
            font-size: 12px;
          }
        }
      }

      p {
        font-size: 13px;
        line-height: 24px;

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 12px;
        }
      }
    }
  }

  .casino-guides-container {
    text-align: center;
    margin-top: 30px;

    h3{
      font-family: Oswald,sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #ffcc01;
      letter-spacing: 0.5px;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 20px;
      }
    }

    .casino-guides-content {
      margin: 10px 0 40px 0;
      display: flex;
      justify-content: space-between;

      .casino-guides-box {
        border: 1px solid #29395d;
        border-radius: 8px;
        padding: 16px;
        background-color: #172035;
        width: 312px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .casino-guides-text {
          margin-bottom: 13px;

          h4 {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
          }
        }

        .casino-guides-button {
          width: 160px;
          height: 50px;
          display: flex;
          align-items: center;

          a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 20px;
            color: #212d4a;
            font-weight:800;
            background-color: #ffcc01;
            border-radius: 8px;
            padding: 15px;
            transition: 0.5s;
            line-height: 24px;

            &:hover {
              background-color: #d3d4d6;
              transition: 0.5s;
            }
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          width: unset;
          margin-bottom: 20px;
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        flex-flow: column;
      }
    }
  }

  @media only screen and (max-width: $large-breakpoint) {
    width: 100%;
    padding: 50px 15px 50px 15px;
  }
}

.sign-up {
  background-color: #172035;
  padding-bottom: 10px;

  .sign-up-you {
    width: 1276px;
    margin: 0 auto;
    padding: 15px 0;

    h3 {
      font-family: Oswald,sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #ffcc01;
      text-align: center;
      margin-bottom: 10px;
      letter-spacing: 0.5px;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 20px;
      }
    }

    h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      line-height: 24px;
      color: #ffffff;
      text-align: center;
      font-weight: 400;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 12px;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 15px 15px;
    }
  }

  .sign-up-email {
    display: flex;
    width: 1276px;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0;

    .email-input {
      height: 40px;
      width: 100%;
      padding-left: 10px;
      border: none;

      @media only screen and (max-width: $mini-breakpoint) {
        height: 30px;
      }
    }

    .blinker {
      width: 15%;
      height: 40px;
      padding: 0 50px;
      background-color: #ffcc01;
      border: none;
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
      font-size: 18px;
      cursor: pointer;
      color: #172035;
      transition: 0.5s;

      a {
        text-decoration: none;
        color: #172035;
        width: 100%;
      }

      &:hover {
        background-color: #d3d4d6;
        transition: 0.5s;
      }

      @media only screen and (max-width: $large-breakpoint) {
        width: 25%;
      }

      @media only screen and (max-width: $medium-breakpoint) {
        width: 40%;
      }

      @media only screen and (max-width: $mini-breakpoint) {
        width: 50%;
        padding: 0;
        height: 30px;
        font-size: 15px;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: 100%;
      padding: 0 15px
    }
  }

  .notifications {
    margin-top: 7px;
    text-align: center;
    color: #ffcc01;
    font-weight: bold;
  }

  .sign-up-paragraph {
    font-family: "Open Sans", sans-serif;
    width: 1276px;
    margin: 0 auto;

    p {
      font-weight: 400;
      font-size: 11px;
      line-height: 24px;
      color: #c7c7c7;
    }

    @media only screen and (max-width: $large-breakpoint) {
      width: unset;
      padding: 0 15px;
    }
  }
}

.page-info {
  .page-info-text {
    margin-bottom: 15px;

    h1 {
      font-family: Oswald, sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #ffcc01;
      text-align: center;
      letter-spacing: 0.5px;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 20px;
      }
    }
  }

  .page-info-paragraph {
    background-color: #172035;
    padding: 20px 275px;
    border: 1px solid #29395d;
    border-radius: 8px;

    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #fdfdfd;
    text-align: justify;

    h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 18px;
      }
    }

    h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 14px;
      }
    }

    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 14px;
      }
    }

    h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 13px;
      }
    }

    h5 {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 13px;
      }
    }

    h6 {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 13px;
      }
    }

    ul {
      padding-left: 30px;

      li {
        list-style: none;
        font-size: 13px;
        color: #fdfdfd;
        line-height: 0;

        &:before {
          content: "\f00c";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #ffcc01;
        }

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 12px;
        }
      }
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      line-height: 24px;
      color: #fdfdfd;
      text-align: justify;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 12px;
      }
    }

    a {
      text-decoration: none;
      color: #eabc0e;
      transition: .5s;

      &:hover {
        color: #d3d4d6;
        transition: 0.5s;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      padding: 20px 100px;
    }

    @media only screen and (max-width: $medium-breakpoint) {
      padding: 20px;
    }
  }
}

.single-post {
  .single-post-text {
    margin-bottom: 15px;

    h1 {
      font-family: Oswald, sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #ffcc01;
      text-align: center;
      letter-spacing: .5px;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 20px;
      }
    }
  }

  .single-post-paragraph{
    background-color: #172035;
    padding: 20px 275px;
    border: 1px solid #29395d;
    border-radius: 8px;

    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #fdfdfd;
    text-align: justify;

    h1 {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 18px;
      }
    }

    h2 {
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 14px;
      }
    }

    h3 {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 14px;
      }
    }

    h4 {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 13px;
      }
    }

    h5 {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 13px;
      }
    }

    h6 {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      color: #fdfdfd;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 13px;
      }
    }

    ul {
      padding-left: 30px;

      li {
        list-style: none;
        font-size: 13px;
        color: #fdfdfd;
        line-height: 0;

        &:before {
          content: "\f00c";
          font-family: 'Font Awesome 5 Free';
          font-weight: 900;
          display: inline-block;
          width: 20px;
          height: 10px;
          color: #ffcc01;
        }

        @media only screen and (max-width: $small-breakpoint) {
          font-size: 12px;
        }
      }
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-size: 13px;
      line-height: 24px;
      color: #fdfdfd;
      text-align: justify;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 12px;
      }
    }

    a {
      text-decoration: none;
      color: #eabc0e;
      transition: .5s;

      &:hover {
        color: #d3d4d6;
        transition: 0.5s;
      }
    }

    @media only screen and (max-width: $large-breakpoint) {
      padding: 20px 100px;
    }

    @media only screen and (max-width: $medium-breakpoint) {
      padding: 20px;
    }
  }
}

.page-guides {
  .guides-text {
    margin: 40px 0 10px 0;

    h1 {
      font-family: Oswald, sans-serif;
      font-weight: 400;
      font-size: 24px;
      color: #ffcc01;
      text-align: center;
      letter-spacing: 0.5px;

      @media only screen and (max-width: $small-breakpoint) {
        font-size: 20px;
      }
    }
  }

  .guides-container {
    .guides-box {
      display: flex;
      border: 1px solid #172035;
      border-radius: 8px;
      margin-bottom: 20px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      .guides-name-button {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        padding: 15px 55px;
        background-color: #172035;

        .name {
          padding-bottom: 10px;

          h2 {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 18px;
            color: #ffffff;
            text-align: center;

            @media only screen and (max-width: $small-breakpoint) {
              font-size: 16px;
            }
          }
        }

        .button {
          display: flex;
          align-items: center;
          height: 50px;
          width: 160px;
          border-radius: 8px;
          background-color: #ffcc01;
          margin: 0 auto;

          a {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            font-size: 20px;
            font-weight:800;
            color: #172035;
            width: 100%;
            border-radius: 8px;
            transition: 0.5s;

            &:hover {
              background-color: #d3d4d6;
              transition: 0.5s;
            }
          }

          @media only screen and (max-width: $large-breakpoint) {
            margin: 0 auto;
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          border-top-right-radius: 8px;
          border-bottom-left-radius: unset;
        }
      }

      .text {
        background-color: #29395d;

        p {
          padding: 15px;
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 13px;
          line-height: 24px;

          @media only screen and (max-width: $small-breakpoint) {
            font-size: 12px;
          }
        }

        @media only screen and (max-width: $large-breakpoint) {
          border-top-right-radius: unset;
          border-bottom-left-radius: 8px;
          border-bottom-left-radius: unset;
        }
      }

      @media only screen and (max-width: $large-breakpoint) {
        flex-direction: column;
      }
    }
  }
}

footer {
  .footer-menu-background {
    background-color: #29395d;

    .footer-menus {
      .footer-menu {
        display: flex;
        justify-content: center;
        padding: 15px 0;

        .menu-footer-menu-container {
          .menu {
            display: flex;
            list-style: none;

            li {
              margin-left: 30px;

              @media only screen and (max-width: $small-breakpoint) {
                margin-left: 0;
                margin-bottom: 10px;
              }

              a {
                text-decoration: none;
                color: #ffcc01;
                list-style: none;
                font-family: Oswald, sans-serif;
                font-size: 24px;
                letter-spacing: 0.5px;

                &:hover {
                  color: #d3d4d6;
                  transition: 0.5s;
                }

                @media only screen and (max-width: $small-breakpoint) {
                  font-size: 16px;
                }
              }

              &.current-menu-item {
                a {
                  color: #d3d4d6;
                }
              }
            }

            @media only screen and (max-width: $small-breakpoint) {
              flex-direction: column;
              text-align: center;
            }
          }
        }
      }

      .footer-icons {
        display: flex;
        justify-content: center;

        .footer-icon {
          a {

            svg {
              height: 50px;
              max-height: 50px;
              max-width: 240px;
              fill: #ffffff;
              margin-left: 10px;
              width: unset;

              &:hover {
                fill: #ffcc01;

                svg {
                  fill: #ffcc01;

                }

                path {
                  fill: #ffcc01;

                }

                g {
                  fill: #ffcc01;

                }
              }

              @media only screen and (max-width: $small-breakpoint) {
                margin-left: unset;
                height: 30px;

              }
            }
          }

          @media only screen and (max-width: $small-breakpoint) {
            margin-left: 0;
            margin-bottom: 10px;
          }
        }

        @media only screen and (max-width: $small-breakpoint) {
          flex-direction: column;
          text-align: center;
        }
      }

      .footer-menu-2 {
        display: flex;
        justify-content: center;
        padding-top: 15px;

        .menu-footer-menu-2-container {
          .menu {
            display: flex;
            list-style: none;

            li {
              margin-left: 30px;

              @media only screen and (max-width: $small-breakpoint) {
                margin-left: 0;
                margin-bottom: 10px;
              }

              a {
                text-decoration: none;
                color: #ffffff;
                list-style: none;
                font-family: Oswald, sans-serif;
                font-size: 18px;
                letter-spacing: 0.5px;

                &:hover {
                  color: #ffcc01;
                  transition: 0.5s;
                }

                @media only screen and (max-width: $small-breakpoint) {
                  font-size: 16px;
                }
              }

              &.current-menu-item {
                a {
                  color: #ffcc01;
                }
              }
            }

            @media only screen and (max-width: $small-breakpoint) {
              flex-direction: column;
              text-align: center;
            }
          }
        }
      }

      .copyright {
        padding:  25px 0 15px 0;

        p {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-size: 11px;
          color: #c7c7c7;
          text-align: center;
        }
      }
    }
  }
}















